h1	{ color: #FFFF00; font-family: Trebuchet,Arial,sans-serif; font-size: 24pt; text-align: center }
h2	{ color: #0000CC; font-family: Arial; font-size: 16pt; text-align: right }
h3	{ color: #0000CC; font-family: Arial; font-size: 12pt; text-align: center }
li 	{ color: #000000; font-family: Arial; font-size: 12pt; text-align: left; list-style-type: disc }
p	{ color: #000000; font-family: Arial; font-size: 12pt; text-align: left }
body 	{ background-color: #00CCFF }




